
    <main>
        <div class="container d-flex justify-content-center mt-5">
            <form action="/noticias/save" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Título de la noticia:</label>
                  <input class="form-control" type="text" name="titulo" id="titulo">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Descripción de la noticia:</label>
                    <input class="form-control" type="text" name="descripcion" id="descripcion">
                </div>

                <div class="mb-3">
                    <label for="formFile" class="form-label">Seleccionar imagen</label>
                    <input class="form-control" type="file" id="imagen" name="imagen">
                </div>

                <div class="mb-3">
                    <label for="categoria" class="form-label">Categoría:</label>
                    <select class="form-control" id="categoria" name="categoriaId">
                        <% categorias.forEach(function(categoria) { %>
                            <option value="<%= categoria.id %>"><%= categoria.nombreCategoria %></option>
                        <% }) %>
                    </select>
                </div>


                
                
                <div class=" container d-flex justify-content-center mb-5">
                  <button type="submit" class="btn btn-primary">
                    Registrar Usuario
                  </button>
                </div>
                
              </form>             
        </div>
    </main>

  