<main>
    <h1 class="d-flex justify-content-center mt-5">PANEL DE ADMINISTRACIÓN</h1>
    <div class="container d-flex justify-content-center mt-5">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <h5 class="card-title">Administrar Categorías</h5>
                        <a href="/admin/categorias" class="btn btn-primary">Ir a Categorías</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <h5 class="card-title">Administrar Usuarios</h5>
                        <a href="/admin/users" class="btn btn-primary">Ir a Usuarios</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <h5 class="card-title">Administrar Noticias</h5>
                        <a href="/admin/noticias" class="btn btn-primary">Ir a Noticias</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
