<footer class="bg-footer mt-5">
      <div class="container-fluid bg-orange text-center p-5">
          <div class="row">
              <div class="col-12 col-lg-6">
                  <h3 class="text-white">Suscríbete a la trompa</h3>
                  <p class="text-white">La newsletter semanal de Menéame</p>
              </div>
              <div class="col-12 col-lg-6 align-items-center">
                  <form class="d-flex w-100">
                      <input type="email" class="form-control" placeholder="Tu dirección de email" aria-label="Email" required>
                      <button type="submit" class="btn btn-secondary">suscríbete</button>
                    </form>
              </div>
          </div>
      </div>
      <div class="container py-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
          <div class="col mb-3">
            <a href="#" class="d-flex align-items-center mb-3 link-light text-decoration-none">
              <img src="/images/logo-sm.png" class="w-50 img-fluid" alt="">
            </a>
            <p class="text-muted">©2024</p>
          </div>
          
          <div class="col mb-3">
            
          </div>
          
          <div class="col mb-3">
            <h5>Ayuda</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQ</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contacto</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Aviso legal</a></li>
            </ul>
          </div>
          
          <div class="col mb-3">
            <h5>+Menéame</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Blog</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Nótame</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Twitter</a></li>
            </ul>
          </div>
          
          <div class="col mb-3">
            <h5>Estadísticas</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Más votadas</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Más comentadas</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Más visitadas</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    

