<main>
    <h1 class="d-flex justify-content-center mt-5">ACCEDE A MENÉAME</h1>
      <div class="container d-flex justify-content-center mt-5">
          <form action="/login/auth" method="POST">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Ingrese su correo electrónico:</label>
                <input class="form-control"  type="email" name="email" id="email">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Ingrese contraseña:</label>
                <input class="form-control" type="password" name="password" id="password">
              </div>              
              <div class=" container d-flex justify-content-center mb-5">
                <button type="submit" class="btn btn-primary">
                  Acceder
                </button>
              </div>
              
            </form>             
      </div>
  </main>
