
    <main>
        <div class="container d-flex justify-content-center mt-5">
            <form action="/admin/categorias/save" method="POST">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Ingrese nombre de categoría:</label>
                  <input class="form-control" type="text" name="nombreCategoria" id="nombreCategoria">
                </div>
                
                <div class=" container d-flex justify-content-center mb-5">
                  <button type="submit" class="btn btn-primary">
                    Registrar Categoría
                  </button>
                </div>
                
              </form>             
        </div>
    </main>
