

    <main>

        <div class=" container d-flex justify-content-center mb-5">
            <a href="/admin/categorias/create" class="btn btn-primary mt-5">
                Registrar Categoria
              </a>
          </div>

        <div class="container d-flex justify-content-center mt-5">
            <table class="table">
                <thead>
                  <tr class="text-center">
                    <th scope="col">Id</th>
                    <th scope="col">Nombre de Categoria</th>
                  </tr>
                </thead>
                <tbody>
                    <% for(let c of categorias){ %>
                  <tr  class="text-center">
                    <th scope="row"><%= c.id %></th>
                    <td><%= c.nombreCategoria %></td>
                  <% } %>
                </tbody>
              </table>
        </div>
        
    </main>


